@import 'variables';

.erreur-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-top:  120px;
    margin-bottom: 120px;

}

.erreur-titre {
    font-size: 288px;
    font-family: 'montserrat', sans-serif;
    color: #FF6060;

    
}

.erreur-message {
    font-size: 36px;
    font-family: 'montserrat', sans-serif;
    color: #FF6060;

}

.erreur-lien {
    font-family: 'montserrat',sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #000000;

}