@import 'variables';

.erreur-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 139px;
    margin-top:  139px;

}

.erreur-titre {
    font-size: 288px;
    font-family: 'montserrat', sans-serif;
    color: #FF6060;

    
}

.erreur-message {
    font-size: 36px;
    font-family: 'montserrat', sans-serif;
    color: #FF6060;

}