@import 'variables';


.erreur {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FF6060;
    margin-bottom:50px;
    
    h1 {
        font-size: 200px;
        margin-bottom: 40px;
        font-family: 'Montesserat',sans-serif;

        @media (min-width: $breakpoint-mobile-min) and (max-width: $breakpoint-mobile-max) { 
            font-size: 120px;
        }
    }

    h2 { 
        margin-bottom: 60px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;


        
        .line-break { 
            display: none;
            
            @media (min-width: $breakpoint-mobile-min) and (max-width: $breakpoint-mobile-max) { 
                display: inline;
            }
        }

        @media (min-width: $breakpoint-mobile-min) and (max-width: $breakpoint-mobile-max) { 
            font-size: 20px;
            text-align: center;
        }
    }

    a { 
        font-size: 17px;
        font-family: 'Montserrat', sans-serif;
        color: black;
    }
}
    